.success-message {
    background-color: var(--green-light);
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}
#editer-full-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.create-post-label{
    width: fit-content;
    user-select: none;
}
#editor-input-title,
#editor-input-tag-wrap,
#editor-input-file {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#create-post-title-input,
#create-post-tag-input {
    width: 100%;
    padding: 5px 10px;
    height: 100%;
    height: 30px;
    font-size: 16px;
    outline: unset;
    border: 1px solid var(--gray-soft);
}
#create-post-input-tag-field {
    display: flex;
    gap: 20px;
}
#editor-list-tag{
    display: flex;
    gap: 5px;
    align-items: center;
}
.editor__tag--box{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--gray-soft);
    border-radius: 5px;
    height: 30px;
}
.editor__tag--name{
    padding-left: 5px;
}
.editor__tag--remove{
    all: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 5px;
    border-left: 1px solid var(--gray-hard);
    color: var(--gray-hard);
}
.editor__tag--remove:hover{
    color: black;
}
#editor-input-tag {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    gap: 5px;
}
#send-request-to-store-post {
    white-space: nowrap;
    padding: 0 10px;
    height: 30px;
    cursor: pointer;
    background-color: var(--color-3);
    border: 1px solid var(--color-2);
    color: var(--color-1);
    font-weight: bold;
    transition: 100ms linear;
}
#send-request-to-store-post:hover{
    background-color: var(--green-light);
}
#editor-board-wrap {
    display: block;
    position: relative;
    height: 100vh;
}
#cke_editor1 {
    position: sticky !important;
    top: 50px;
}
#cke_1_top {
    position: sticky !important;
    top: 0;
}
#cke_1_contents {
    height: 75vh !important;
}
#cke_1_bottom {
    display: none;
}
/*! Series */
#edit-series-choice{
    border-left: 1px solid var(--gray-soft);
    padding-left: 5px;
}
#edit-advance-option{
    display: flex;
    gap: 10px;
}
#edit-series-add-btn{
    all: unset;
}
#edit-series-hidden-box{
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: clip;
}
#edit-series-hidden-box > p{
    position: relative;
    z-index: 100;
    background-color: white;
    width: 100%;
}
#edit-series-list{
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--gray-light);
    transition: 200ms linear;
    z-index: 99;
    overflow: scroll;
    height: 200px;
    transform: translateY(-200px);
    margin-top: 5px;
    position: absolute;
}
#edit-series-list::-webkit-scrollbar{
    height: 0;
    width: 0;
}
#edit-series-add-btn:checked + label > #edit-series-list{
    position: relative;
    transform: translateY(0);
}
.series__element{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    transition: 200ms linear;
    padding: 0 5px;
    border-radius: inherit;
}
.series__element:hover{
    background-color: white;
}
.series__element label{
    width: 100%;
    padding: 5px 0;
    cursor: pointer;
}
#edit-add-new-series{
    padding-left: 5px;
    height: 30px;
    border: 1px solid var(--gray-soft);
    outline: unset;
}
#edit-add-series-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
}
#edit-add-series-btn{
    background-color: var(--color-3);
    border: 1px solid var(--gray-soft);
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
    border-radius: inherit;
    color: var(--gray-hard);
}
#edit-add-series-btn:hover{
    color: black;
}