#editer-full-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
#editor-input-title input {
    width: 100%;
    padding: 5px 10px;
    height: 100%;
    height: 50px;
    font-size: 20px;
    outline: unset;
}
#editor-input-tag-wrap {
    display: flex;
    gap: 20px;
}
#editor-input-tag {
    width: 100%;
    height: inherit;
}
#editor-input-tag input {
    width: 100%;
    padding: 5px 10px;
    height: inherit;
    height: 50px;
    font-size: 20px;
    outline: unset;
}
#editor-input-tag-wrap button[type="submit"] {
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer;
}
#editor-board-wrap{
    display: block;
    position: relative;
    height: 100vh;
}
#cke_editor1{
    position: sticky !important;
    top: 50px;
}
#cke_1_top {
    position: sticky !important;
    top: 0;
}
#cke_1_contents {
    height: 75vh !important;
}
#cke_1_bottom {
    display: none;
}
