/* todo ------------ question */
#quesVw-contents-body-wr {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: var(--width-align);
    margin: 60px auto;
}
#quesVw-question-top-wr {
    display: flex;
    gap: 20px;
}
#quesVw-ques_ques_field-top-wr {
    display: grid;
    grid-template-columns: auto 300px;
    gap: 20px;
}
#quesVw-interact-left-wr {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 10px;
}
.interact__icon {
    font-size: 30px;
}
#quesVw-ques_text-left-wr {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#quesVw-ques_index-lv1-wr {
    display: flex;
    gap: 10px;
    align-items: center;
}
.author__infor--wr {
    display: flex;
    gap: 10px;
}
#quesVw-ques_bookmark-form {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    background-color: lightblue;
    gap: 5px;
    justify-content: center;
}
#quesVw-ques_bookmark-form button[type="submit"] {
    all: unset;
}
#quesVw-ques_info-right-wr {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.group__index {
    display: flex;
    align-items: center;
    gap: 5px;
}
#quesVw-ques_tag-lv3-ls {
    margin: 10px 0;
}
#quesVw-ques_tag-lv3-ls a {
    text-decoration: unset;
    border: 1px solid var(--color-2);
    padding: 2px 10px;
    border-radius: 20px;
    transition: 100ms linear;
    font-size: 13px;
}
#quesVw-aut_social-lv4-wr {
    display: flex;
    gap: 10px;
    font-size: 25px;
    justify-content: space-between;
}
#quesVw-open_answer-btn {
    all: unset;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    margin: 30px 0 0 0;
    background-color: lightblue;
    width: fit-content;
    cursor: pointer;
}
#quesVw-ques_author-right-wr {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#quesVw-aut_info-lv1-wr {
    display: flex;
    align-items: center;
    gap: 5px;
}
#quesVw-aut_info-lv1-wr img {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}
#quesVw-auth_info-right-wr {
    display: grid;
    gap: 5px;
}
.author__interact--wr {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 10px 0;
}
#quesVw-aut_follow-form button[type="submit"] {
    border: 1px solid;
    padding: 3px 10px;
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
}

#quesVw-aut_social-lv4-wr {
    margin: 20px 0 0 0;
    padding: 10px 0 0 0;
    border-top: 1px solid;
}
#quesVw-chat_form-wr {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 0;
    overflow: hidden;
    transition: 300ms linear;
    opacity: 0;
    margin: 20px 0;
}
#quesVw-chat_form-wr.chat_active {
    height: fit-content;
    opacity: 1;
}
#quesVw-chat_field-write {
    resize: vertical;
    height: 100px;
    min-height: 100px;
    max-height: 300px;
    padding: 10px;
    outline: unset;
}
#quesVw-option_form-btn-wrap {
    display: flex;
    gap: 10px;
    align-self: end;
}
/* todo ------------------- answer start */
.quesVw-answer-bellow-wr {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#quesVw-ans_info-right-wr {
    display: flex;
    flex-direction: column;
}
.quesVw-ans_index-lv1-wr {
    display: flex;
    gap: 10px;
    align-items: center;
}
.quesVw-ans_text-left-wr {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.for_reply {
    border: 1px solid var(--gray-soft);
    border-radius: 5px;
    padding: 5px;
}
.quesVw-ans_ans_field-top-wr {
    border-top: 1px solid var(--gray-soft);
    padding: 10px 0;
}
.quesVw-ans_wrap-top-wr {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}
.quesVw-ans_element-top-wr {
    display: grid;
    grid-template-columns: auto 300px;
    gap: 20px;
}
#quesVw-open_comment-btn {
    all: unset;
    cursor: pointer;
    color: var(--gray-hard);
}
.quesVw-answer_comment-btn {
    all: unset;
    cursor: pointer;
    color: var(--gray-hard);
}
.quesVw-comment_form-wr {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 300ms linear;
    margin: 20px 0 0 0;
}
.quesVw-comment_field-write {
    resize: vertical;
    height: 100px;
    min-height: 100px;
    max-height: 300px;
    padding: 10px;
    outline: unset;
}
/* todo ------------------ start reply */
.reply__text--left {
    width: 100%;
}
.reply__author--right {
    height: 30px;
    display: flex;
    gap: 5px;
    align-items: center;
    padding-left: 10px;
}
.author__wrap--avatar {
    height: inherit;
    object-fit: contain;
    aspect-ratio: 1;
    border-radius: 50%;
}
.reply__created--at {
    color: var(--color-2);
    font-size: 13px;
}
.reply__author--right {
    justify-self: end;
}
.quesVw-ans_detail-top-wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#quesVw-reply-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#quesVw-comment_field-bellow-wr {
    margin-top: 20px;
}
#quesVw-btn-close-form,
.quesVw-comment_form-close {
    border: unset;
    background-color: var(--red-light);
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.quesVw-btn-send-form {
    border: unset;
    background-color: var(--green-light);
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
